<%= form_for(@user) do |f| %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>

    <% if @user.errors[:name].present? %>
      <% @user.errors[:name].each do |error| %>
        <div class="field-error"><%= error %></div>
      <% end %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>

    <% if @user.errors[:phone].present? %>
      <% @user.errors[:phone].each do |error| %>
        <div class="field-error"><%= error %></div>
      <% end %>
    <% end %>  </div>
  <div class="actions">
    <%= f.submit :class => 'btn' %>
  </div>
<% end %>
